*{
    margin: 0px;
    padding: 0px;
}
.main-div{
    margin-top: 50px;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.container{
    border: 2px solid red;
    padding: 15px;
}
.form-controller{
    padding: 25px;
    border: 2px solid green;
    margin: 25px;
}
label{
    font-size:25px;
}
input{
    width: 230px;
    height: 28px;
}

.btn{
border: none;
padding: 8px 25px;
margin-left: 22px;
color: #fff;
background-color:#587d8e;
}